@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-[rgb(var(--background-color))]
           /* text-[rgb(var(--text-color))] */
           transition-all;
    font-size: var(--app-font-size);
  }

  input {
    @apply pl-2 font-semibold bg-slate-100 outline-none rounded-lg border-2 ml-2 mb-6;
  }

  p {
    @apply m-0 text-sm text-teal-950;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

:root {
  --background-color: 255 255 255;
  --text-color: 31 41 55;
  --border-color: 209 213 219;
  --app-font-size: 16px;
}

:root[data-theme="dark"] {
  --background-color: 31 41 55;
  --text-color: 249 250 251;
  --border-color: 55 65 81;
}

body {
  margin: 0;
  border-color: rgb(var(--border-color));
}
